@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #161616;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#header3-8 I {
  font-size: 46px;
}

#menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-11 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-11 .navbar-toggler {
  color: #ffffff;
}
#menu-11 .link,
#menu-11 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-11 .link {
  font-size: 0.75rem;
}
#menu-11 .dropdown-item,
#menu-11 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-11 .link:hover,
#menu-11 .dropdown-item:hover,
#menu-11 .link:focus,
#menu-11 .dropdown-item:focus {
  color: #c0a375;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-menu {
  background: #161616;
}
#menu-11 .nav-dropdown-sm .link:focus,
#menu-11 .nav-dropdown-sm .link:hover,
#menu-11 .nav-dropdown-sm .dropdown-item:focus,
#menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-11 .navbar,
#menu-11 .nav-dropdown-sm,
#menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-11 .bg-color.transparent.opened .link:hover,
#menu-11 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-11 .close-icon::before,
#menu-11 .close-icon::after {
  background-color: #ffffff;
}
#header3-19 .mbr-section-title,
#header3-19 .mbr-section-subtitle {
  text-align: center;
}

#menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-14 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-14 .navbar-toggler {
  color: #ffffff;
}
#menu-14 .link,
#menu-14 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-14 .link {
  font-size: 0.75rem;
}
#menu-14 .dropdown-item,
#menu-14 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-14 .link:hover,
#menu-14 .dropdown-item:hover,
#menu-14 .link:focus,
#menu-14 .dropdown-item:focus {
  color: #c0a375;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-menu {
  background: #161616;
}
#menu-14 .nav-dropdown-sm .link:focus,
#menu-14 .nav-dropdown-sm .link:hover,
#menu-14 .nav-dropdown-sm .dropdown-item:focus,
#menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-14 .navbar,
#menu-14 .nav-dropdown-sm,
#menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-14 .bg-color.transparent.opened .link:hover,
#menu-14 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-14 .close-icon::before,
#menu-14 .close-icon::after {
  background-color: #ffffff;
}
#header3-20 .mbr-section-title,
#header3-20 .mbr-section-subtitle {
  text-align: center;
}

#menu-22 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-22 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-22 .navbar-toggler {
  color: #ffffff;
}
#menu-22 .link,
#menu-22 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-22 .link {
  font-size: 0.75rem;
}
#menu-22 .dropdown-item,
#menu-22 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-22 .link:hover,
#menu-22 .dropdown-item:hover,
#menu-22 .link:focus,
#menu-22 .dropdown-item:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-menu {
  background: #161616;
}
#menu-22 .nav-dropdown-sm .link:focus,
#menu-22 .nav-dropdown-sm .link:hover,
#menu-22 .nav-dropdown-sm .dropdown-item:focus,
#menu-22 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-22 .navbar,
#menu-22 .nav-dropdown-sm,
#menu-22 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-22 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-22 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-22 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-22 .bg-color.transparent.opened .link:hover,
#menu-22 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-22 .link[aria-expanded="true"],
#menu-22 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-22 .close-icon::before,
#menu-22 .close-icon::after {
  background-color: #ffffff;
}
#header3-25 .mbr-section-title,
#header3-25 .mbr-section-subtitle {
  text-align: center;
}

#menu-27 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-27 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-27 .navbar-toggler {
  color: #ffffff;
}
#menu-27 .link,
#menu-27 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-27 .link {
  font-size: 0.75rem;
}
#menu-27 .dropdown-item,
#menu-27 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-27 .link:hover,
#menu-27 .dropdown-item:hover,
#menu-27 .link:focus,
#menu-27 .dropdown-item:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-menu {
  background: #161616;
}
#menu-27 .nav-dropdown-sm .link:focus,
#menu-27 .nav-dropdown-sm .link:hover,
#menu-27 .nav-dropdown-sm .dropdown-item:focus,
#menu-27 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-27 .navbar,
#menu-27 .nav-dropdown-sm,
#menu-27 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-27 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-27 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-27 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-27 .bg-color.transparent.opened .link:hover,
#menu-27 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-27 .link[aria-expanded="true"],
#menu-27 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-27 .close-icon::before,
#menu-27 .close-icon::after {
  background-color: #ffffff;
}
#header3-33 .mbr-section-title,
#header3-33 .mbr-section-subtitle {
  text-align: center;
}

#menu-30 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-30 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-30 .navbar-toggler {
  color: #ffffff;
}
#menu-30 .link,
#menu-30 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-30 .link {
  font-size: 0.75rem;
}
#menu-30 .dropdown-item,
#menu-30 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-30 .link:hover,
#menu-30 .dropdown-item:hover,
#menu-30 .link:focus,
#menu-30 .dropdown-item:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-menu {
  background: #161616;
}
#menu-30 .nav-dropdown-sm .link:focus,
#menu-30 .nav-dropdown-sm .link:hover,
#menu-30 .nav-dropdown-sm .dropdown-item:focus,
#menu-30 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-30 .navbar,
#menu-30 .nav-dropdown-sm,
#menu-30 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-30 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-30 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-30 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-30 .bg-color.transparent.opened .link:hover,
#menu-30 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-30 .link[aria-expanded="true"],
#menu-30 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-30 .close-icon::before,
#menu-30 .close-icon::after {
  background-color: #ffffff;
}
#header3-35 .mbr-section-title,
#header3-35 .mbr-section-subtitle {
  text-align: center;
}

#menu-37 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-37 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-37 .navbar-toggler {
  color: #ffffff;
}
#menu-37 .link,
#menu-37 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-37 .link {
  font-size: 0.75rem;
}
#menu-37 .dropdown-item,
#menu-37 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-37 .link:hover,
#menu-37 .dropdown-item:hover,
#menu-37 .link:focus,
#menu-37 .dropdown-item:focus {
  color: #c0a375;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-menu {
  background: #161616;
}
#menu-37 .nav-dropdown-sm .link:focus,
#menu-37 .nav-dropdown-sm .link:hover,
#menu-37 .nav-dropdown-sm .dropdown-item:focus,
#menu-37 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-37 .navbar,
#menu-37 .nav-dropdown-sm,
#menu-37 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-37 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-37 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-37 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-37 .bg-color.transparent.opened .link:hover,
#menu-37 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-37 .link[aria-expanded="true"],
#menu-37 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-37 .close-icon::before,
#menu-37 .close-icon::after {
  background-color: #ffffff;
}
#header3-41 .mbr-section-title,
#header3-41 .mbr-section-subtitle {
  text-align: center;
}
#header3-40 .mbr-section-title,
#header3-40 .mbr-section-subtitle {
  text-align: center;
}

#menu-43 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-43 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-43 .navbar-toggler {
  color: #ffffff;
}
#menu-43 .link,
#menu-43 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-43 .link {
  font-size: 0.75rem;
}
#menu-43 .dropdown-item,
#menu-43 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-43 .link:hover,
#menu-43 .dropdown-item:hover,
#menu-43 .link:focus,
#menu-43 .dropdown-item:focus {
  color: #c0a375;
}
#menu-43 .link[aria-expanded="true"],
#menu-43 .dropdown-menu {
  background: #161616;
}
#menu-43 .nav-dropdown-sm .link:focus,
#menu-43 .nav-dropdown-sm .link:hover,
#menu-43 .nav-dropdown-sm .dropdown-item:focus,
#menu-43 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-43 .navbar,
#menu-43 .nav-dropdown-sm,
#menu-43 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-43 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-43 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-43 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-43 .bg-color.transparent.opened .link:hover,
#menu-43 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-43 .link[aria-expanded="true"],
#menu-43 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-43 .close-icon::before,
#menu-43 .close-icon::after {
  background-color: #ffffff;
}
#header3-46 .mbr-section-title,
#header3-46 .mbr-section-subtitle {
  text-align: center;
}

#menu-44 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-44 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-44 .navbar-toggler {
  color: #ffffff;
}
#menu-44 .link,
#menu-44 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-44 .link {
  font-size: 0.75rem;
}
#menu-44 .dropdown-item,
#menu-44 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-44 .link:hover,
#menu-44 .dropdown-item:hover,
#menu-44 .link:focus,
#menu-44 .dropdown-item:focus {
  color: #c0a375;
}
#menu-44 .link[aria-expanded="true"],
#menu-44 .dropdown-menu {
  background: #161616;
}
#menu-44 .nav-dropdown-sm .link:focus,
#menu-44 .nav-dropdown-sm .link:hover,
#menu-44 .nav-dropdown-sm .dropdown-item:focus,
#menu-44 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-44 .navbar,
#menu-44 .nav-dropdown-sm,
#menu-44 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-44 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-44 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-44 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-44 .bg-color.transparent.opened .link:hover,
#menu-44 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-44 .link[aria-expanded="true"],
#menu-44 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-44 .close-icon::before,
#menu-44 .close-icon::after {
  background-color: #ffffff;
}
#header3-47 .mbr-section-title,
#header3-47 .mbr-section-subtitle {
  text-align: center;
}

#menu-49 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-49 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-49 .navbar-toggler {
  color: #ffffff;
}
#menu-49 .link,
#menu-49 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-49 .link {
  font-size: 0.75rem;
}
#menu-49 .dropdown-item,
#menu-49 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-49 .link:hover,
#menu-49 .dropdown-item:hover,
#menu-49 .link:focus,
#menu-49 .dropdown-item:focus {
  color: #c0a375;
}
#menu-49 .link[aria-expanded="true"],
#menu-49 .dropdown-menu {
  background: #161616;
}
#menu-49 .nav-dropdown-sm .link:focus,
#menu-49 .nav-dropdown-sm .link:hover,
#menu-49 .nav-dropdown-sm .dropdown-item:focus,
#menu-49 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-49 .navbar,
#menu-49 .nav-dropdown-sm,
#menu-49 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-49 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-49 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-49 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-49 .bg-color.transparent.opened .link:hover,
#menu-49 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-49 .link[aria-expanded="true"],
#menu-49 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-49 .close-icon::before,
#menu-49 .close-icon::after {
  background-color: #ffffff;
}
#header3-52 .mbr-section-title,
#header3-52 .mbr-section-subtitle {
  text-align: center;
}

#menu-54 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-54 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-54 .navbar-toggler {
  color: #ffffff;
}
#menu-54 .link,
#menu-54 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-54 .link {
  font-size: 0.75rem;
}
#menu-54 .dropdown-item,
#menu-54 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-54 .link:hover,
#menu-54 .dropdown-item:hover,
#menu-54 .link:focus,
#menu-54 .dropdown-item:focus {
  color: #c0a375;
}
#menu-54 .link[aria-expanded="true"],
#menu-54 .dropdown-menu {
  background: #161616;
}
#menu-54 .nav-dropdown-sm .link:focus,
#menu-54 .nav-dropdown-sm .link:hover,
#menu-54 .nav-dropdown-sm .dropdown-item:focus,
#menu-54 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-54 .navbar,
#menu-54 .nav-dropdown-sm,
#menu-54 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-54 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-54 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-54 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-54 .bg-color.transparent.opened .link:hover,
#menu-54 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-54 .link[aria-expanded="true"],
#menu-54 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-54 .close-icon::before,
#menu-54 .close-icon::after {
  background-color: #ffffff;
}
#header3-57 .mbr-section-title,
#header3-57 .mbr-section-subtitle {
  text-align: center;
}

#menu-59 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-59 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-59 .navbar-toggler {
  color: #ffffff;
}
#menu-59 .link,
#menu-59 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-59 .link {
  font-size: 0.75rem;
}
#menu-59 .dropdown-item,
#menu-59 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-59 .link:hover,
#menu-59 .dropdown-item:hover,
#menu-59 .link:focus,
#menu-59 .dropdown-item:focus {
  color: #c0a375;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-menu {
  background: #161616;
}
#menu-59 .nav-dropdown-sm .link:focus,
#menu-59 .nav-dropdown-sm .link:hover,
#menu-59 .nav-dropdown-sm .dropdown-item:focus,
#menu-59 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-59 .navbar,
#menu-59 .nav-dropdown-sm,
#menu-59 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-59 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-59 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-59 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-59 .bg-color.transparent.opened .link:hover,
#menu-59 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-59 .link[aria-expanded="true"],
#menu-59 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-59 .close-icon::before,
#menu-59 .close-icon::after {
  background-color: #ffffff;
}
#header3-62 .mbr-section-title,
#header3-62 .mbr-section-subtitle {
  text-align: center;
}

#menu-67 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-67 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-67 .navbar-toggler {
  color: #ffffff;
}
#menu-67 .link,
#menu-67 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-67 .link {
  font-size: 0.75rem;
}
#menu-67 .dropdown-item,
#menu-67 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-67 .link:hover,
#menu-67 .dropdown-item:hover,
#menu-67 .link:focus,
#menu-67 .dropdown-item:focus {
  color: #c0a375;
}
#menu-67 .link[aria-expanded="true"],
#menu-67 .dropdown-menu {
  background: #161616;
}
#menu-67 .nav-dropdown-sm .link:focus,
#menu-67 .nav-dropdown-sm .link:hover,
#menu-67 .nav-dropdown-sm .dropdown-item:focus,
#menu-67 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-67 .navbar,
#menu-67 .nav-dropdown-sm,
#menu-67 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-67 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-67 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-67 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-67 .bg-color.transparent.opened .link:hover,
#menu-67 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-67 .link[aria-expanded="true"],
#menu-67 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-67 .close-icon::before,
#menu-67 .close-icon::after {
  background-color: #ffffff;
}
#header3-70 .mbr-section-title,
#header3-70 .mbr-section-subtitle {
  text-align: center;
}

#menu-64 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-64 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-64 .navbar-toggler {
  color: #ffffff;
}
#menu-64 .link,
#menu-64 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-64 .link {
  font-size: 0.75rem;
}
#menu-64 .dropdown-item,
#menu-64 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-64 .link:hover,
#menu-64 .dropdown-item:hover,
#menu-64 .link:focus,
#menu-64 .dropdown-item:focus {
  color: #c0a375;
}
#menu-64 .link[aria-expanded="true"],
#menu-64 .dropdown-menu {
  background: #161616;
}
#menu-64 .nav-dropdown-sm .link:focus,
#menu-64 .nav-dropdown-sm .link:hover,
#menu-64 .nav-dropdown-sm .dropdown-item:focus,
#menu-64 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-64 .navbar,
#menu-64 .nav-dropdown-sm,
#menu-64 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-64 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-64 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-64 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-64 .bg-color.transparent.opened .link:hover,
#menu-64 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-64 .link[aria-expanded="true"],
#menu-64 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-64 .close-icon::before,
#menu-64 .close-icon::after {
  background-color: #ffffff;
}
#header3-72 .mbr-section-title,
#header3-72 .mbr-section-subtitle {
  text-align: center;
}
#header3-98 .mbr-section-title,
#header3-98 .mbr-section-subtitle {
  text-align: center;
}
#header3-100 .mbr-section-title,
#header3-100 .mbr-section-subtitle {
  text-align: center;
}

#menu-74 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-74 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-74 .navbar-toggler {
  color: #ffffff;
}
#menu-74 .link,
#menu-74 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-74 .link {
  font-size: 0.75rem;
}
#menu-74 .dropdown-item,
#menu-74 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-74 .link:hover,
#menu-74 .dropdown-item:hover,
#menu-74 .link:focus,
#menu-74 .dropdown-item:focus {
  color: #c0a375;
}
#menu-74 .link[aria-expanded="true"],
#menu-74 .dropdown-menu {
  background: #161616;
}
#menu-74 .nav-dropdown-sm .link:focus,
#menu-74 .nav-dropdown-sm .link:hover,
#menu-74 .nav-dropdown-sm .dropdown-item:focus,
#menu-74 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-74 .navbar,
#menu-74 .nav-dropdown-sm,
#menu-74 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-74 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-74 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-74 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-74 .bg-color.transparent.opened .link:hover,
#menu-74 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-74 .link[aria-expanded="true"],
#menu-74 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-74 .close-icon::before,
#menu-74 .close-icon::after {
  background-color: #ffffff;
}
#header3-77 .mbr-section-title,
#header3-77 .mbr-section-subtitle {
  text-align: center;
}

#menu-79 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-79 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-79 .navbar-toggler {
  color: #ffffff;
}
#menu-79 .link,
#menu-79 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-79 .link {
  font-size: 0.75rem;
}
#menu-79 .dropdown-item,
#menu-79 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-79 .link:hover,
#menu-79 .dropdown-item:hover,
#menu-79 .link:focus,
#menu-79 .dropdown-item:focus {
  color: #c0a375;
}
#menu-79 .link[aria-expanded="true"],
#menu-79 .dropdown-menu {
  background: #161616;
}
#menu-79 .nav-dropdown-sm .link:focus,
#menu-79 .nav-dropdown-sm .link:hover,
#menu-79 .nav-dropdown-sm .dropdown-item:focus,
#menu-79 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-79 .navbar,
#menu-79 .nav-dropdown-sm,
#menu-79 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-79 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-79 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-79 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-79 .bg-color.transparent.opened .link:hover,
#menu-79 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-79 .link[aria-expanded="true"],
#menu-79 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-79 .close-icon::before,
#menu-79 .close-icon::after {
  background-color: #ffffff;
}
#header3-88 .mbr-section-title,
#header3-88 .mbr-section-subtitle {
  text-align: center;
}

#menu-82 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-82 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-82 .navbar-toggler {
  color: #ffffff;
}
#menu-82 .link,
#menu-82 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-82 .link {
  font-size: 0.75rem;
}
#menu-82 .dropdown-item,
#menu-82 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-82 .link:hover,
#menu-82 .dropdown-item:hover,
#menu-82 .link:focus,
#menu-82 .dropdown-item:focus {
  color: #c0a375;
}
#menu-82 .link[aria-expanded="true"],
#menu-82 .dropdown-menu {
  background: #161616;
}
#menu-82 .nav-dropdown-sm .link:focus,
#menu-82 .nav-dropdown-sm .link:hover,
#menu-82 .nav-dropdown-sm .dropdown-item:focus,
#menu-82 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-82 .navbar,
#menu-82 .nav-dropdown-sm,
#menu-82 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-82 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-82 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-82 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-82 .bg-color.transparent.opened .link:hover,
#menu-82 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-82 .link[aria-expanded="true"],
#menu-82 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-82 .close-icon::before,
#menu-82 .close-icon::after {
  background-color: #ffffff;
}
#header3-90 .mbr-section-title,
#header3-90 .mbr-section-subtitle {
  text-align: center;
}

#menu-85 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-85 .navbar-caption {
  color: #ffffff;
  font-size: 18px;
}
#menu-85 .navbar-toggler {
  color: #ffffff;
}
#menu-85 .link,
#menu-85 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#menu-85 .link {
  font-size: 0.75rem;
}
#menu-85 .dropdown-item,
#menu-85 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-85 .link:hover,
#menu-85 .dropdown-item:hover,
#menu-85 .link:focus,
#menu-85 .dropdown-item:focus {
  color: #c0a375;
}
#menu-85 .link[aria-expanded="true"],
#menu-85 .dropdown-menu {
  background: #161616;
}
#menu-85 .nav-dropdown-sm .link:focus,
#menu-85 .nav-dropdown-sm .link:hover,
#menu-85 .nav-dropdown-sm .dropdown-item:focus,
#menu-85 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#menu-85 .navbar,
#menu-85 .nav-dropdown-sm,
#menu-85 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-85 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#menu-85 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-85 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-85 .bg-color.transparent.opened .link:hover,
#menu-85 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-85 .link[aria-expanded="true"],
#menu-85 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-85 .close-icon::before,
#menu-85 .close-icon::after {
  background-color: #ffffff;
}
#header3-96 .mbr-section-title,
#header3-96 .mbr-section-subtitle {
  text-align: center;
}
#header3-104 .mbr-section-title,
#header3-104 .mbr-section-subtitle {
  text-align: center;
}
#header3-106 .mbr-section-title,
#header3-106 .mbr-section-subtitle {
  text-align: center;
}
