{% extends 'base.html' %}
{% block title %} FMML|CIL {% endblock %}
{% block content %}
<section class="mbr-section article mbr-section__container" id="content1-63" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p>CENTRAL FACILITES:</p><p><br></p><p>Microwave Vector Network Analyser. (50MHz to 40GHz). Agilent 8722ES.</p><p>Pulsed Laser deposition system(PLD)</p><p>Scanning Probe Microscope (SPA 400 of SII Inc, Japan)</p><p>X-Ray diffractometers - Philips and INEL</p><p>Microfabrication facility with mask aligner(MJB-4- Suss Microtech), Scriber, profiler,Ultrapure water plant from Millipore, spin coater and wire bonder.</p><p>Scanning Electron Microscope with EDAX attachment.</p><p>Transmission Electron Microscopy(TEM)</p><p>Vibrating Sample Magnetometer (VSM)</p><p>Confocal Microscope</p><p>ESR Spectrometer</p><p>Field Cycling NMR &nbsp;</p><p><br></p><p><br></p></div>
        </div>
    </div>

</section>

{% endblock %} 