{% extends 'base.html' %}
{% block title %} FMML| Alumni {% endblock %}
{% block content %}

<section class="mbr-section mbr-section__container mbr-after-navbar" id="header3-77" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                
                <small class="mbr-section-subtitle"><br><br><h3>Alumini of the Lab</h3><br></small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-78" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">
			<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
				<thead>
					<tr>
						<th>
							Sl.No
						</th>
						<th>
							Name of person
						</th>
						<th>
							Present Position
						</th>
						<th>
							Contact details
						</th>
					</tr>
				</thead>
				<tbody>
				<tr>
						<td>
							01
						</td>
						<td>
							Dr.Anil Tumuluri
						</td>
						<td>
							Awarded Ph.D recently
						</td>
						<td>
							 anilphy84@gmail.com
						</td>
					</tr>
					<tr>
						<td>
							02
						</td>
						<td>
							Mr.S.Rama Kanth
						</td>
						<td>
							Assistant Professor, Department of physics, Satavahana University
						</td>
						<td>
							suryavamshiramakanth@gmail.com
						</td>
					</tr>
					<tr>
						<td>
							03
						</td>
						<td>
							Dr.A.Rambabu
						</td>
						<td>
							Post Doctoral Fellow,IISc, Bangalore
						</td>
						<td>
							rambabuhcu@gmail.com
						</td>
					</tr>
					<tr>
						<td>
							04
						</td>
						<td>
							Dr.S.Ramesh
						</td>
						<td>
							Assistant Professor,Department of physics,GITAM School of technology,Hyderabad,Telangana
						</td>
						<td>
							ramesh.ou1@gmail.com
						</td>
					</tr>
					<tr>
						<td>
							05
						</td>
						<td>
							Dr.K.Venkata Sarvanan
						</td>
						<td>
							Assistant Professor,Department of physics,Central university of Tamilnadu,Tamilnadu
						</td>
						<td>
							venketvs@cutn.ac.in
						</td>
					</tr>
					<tr>
						<td>
							06
						</td>
						<td>
							Dr.K.Sudheendran
						</td>
						<td>
							Assistant Professor,Department of physics,Sree Kerala Verma College, Thrissur,Kerala
						</td>
						<td>
							sudhi.kooriyattil @gmail.com
						</td>
					</tr>
					<tr>
						<td>
							07
						</td>
						<td>
							Dr.D.Pamu
						</td>
						<td>
							Associate Professor,Department of physics, Indian Institute of technology Gowhati,India
						</td>
						<td>
							pamu@iitg.ernet.in
						</td>
					</tr>
					<tr>
						<td>
							08
						</td>
						<td>
							Dr.V.Madhurima
						</td>
						<td>
							Associate Professor,Department of physics,Central university of Tamilnadu,Tamilnadu
						</td>
						<td>
							madhuphy@cutn.ac.in
						</td>
					</tr>
				</tbody>
			</table>
			</div>
        </div>
    </div>

</section>

<section class="mbr-section article mbr-section__container" id="content2-103" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><blockquote><p><strong>M.Tech</strong></p><p><strong><br></strong><span style="font-size: 1.07rem; line-height: 1.5;">E.Srikanth</span></p><p><span style="font-size: 1.07rem; line-height: 1.5;">Ch.L.N.Pavan Kumar</span></p><p><span style="font-size: 1.07rem; line-height: 1.5;">G.D.V santhosh</span></p><p><span style="font-size: 1.09rem; line-height: 1.5;">K. Manohar Prasad</span></p></blockquote></div>
        </div>
    </div>

</section>

{% endblock %} 