{% extends 'base.html' %}
{% block title %} FMML| synthesis {% endblock %}
{% block content %}

<section class="mbr-section article mbr-section__container" id="content1-48" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p><strong></strong></p><p><br></p><p><strong><em><h4>Ceramic Preparation:</h4>
            </em></strong></p><p><br></p><p>Ball Mill, Hydraulic Press, Powder compaction Dies.</p><p>Furnaces up to 1760oC, Hot air ovens, Microwave oven.</p>
            <p><br><strong><em><h4>Thin FIlm Preparation:</h4> </em></strong></p><p><br></p><p>Large area Pulsed Laser Deposition (PLD) system  with Excimer Laser</p><p> Pulsed laser deposition system</p><p>DC and RF sputtering systems.</p><p> Laser Annealing system with Nd-YAG Laser</p><p>Laurell make Spin Coater, Laminar air flow table</p><p><br></p><p><br></p><p><br></p></div>
        </div>
    </div>

</section>

{% endblock %} 