{% extends 'base.html' %}
{% block title %} FMML| Members {% endblock %}
{% block content %}


<section class="mbr-section mbr-section__container mbr-after-navbar" id="header3-72" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               
                <small class="mbr-section-subtitle"><br><h3>MEMBERS OF THE TEAM</h3><br><br><br><br><h4>Ph.D Scholars</h4><br></small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-73" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">
			<table align="center" class="table table-bordered table-striped table-hover table-condensed table-responsive">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Mail. id
							</th>
							<th>
								Working area
							</th>
							<th>
								Present Position
							</th>
						</tr>
					</thead>
					<tbody>
						
						<tr>
							<td>
								S.Bashaiah
							</td>
							<td>
								bashaiahhcu@gmail.com
							</td>
							<td>
								Dielectric devices for Microwave region

							</td>
							<td>
								SRF
							</td>
						</tr>
						<tr>
							<td>
								Ajeet Kumar
							</td>
							<td>
								jkajeet@yahoo.co.in
							</td>
							<td>
								Piezoelectric and Ferroelectric materials
							</td>
							<td>
								Research Associate (RA)
							</td>
						</tr>
						<tr>
							<td>
									E.Sivanagi Reddy
							</td>
							<td>
								svngreddy@gmail.com
							</td>
							<td>
								Ferroelectric Thin films for device Applications
							</td>
							<td>
							     SRF
							</td>
						</tr>
						<tr>
							<td>
								Mahmoud Saleh Alkathy
							</td>
							<td>
								alkathy1980@gmail.com
							</td>
							<td>
								 BaTiO3 and SrTiO3 Ferroelectric ceramics
							</td>
							<td>
								Ph.D Research scholar
							</td>
						</tr>
						<tr>
							<td>
									J.Pundareekam Goud
							</td>
							<td>
								jakkapally09@gmail.com
							</td>
							<td>
								Laser based crystallization of Ferroelectric Thin films
							</td>
							<td>
								SRF
							</td>
						</tr>
						<tr>
							<td>
								Andrews Joseph
							</td>
							<td>
								centraluniversity.pondi@gmail.com
							</td>
							<td>
								Multiferroic materials and microwave characterization
							</td>
							<td>
								SRF
							</td>
						</tr>
						<tr>
							<td>
								Santosh Kumar
							</td>
							<td>
								santoshkumar7461@gmail.com
							</td>
							<td>
								Tunable filter design for RF section of smart phones
							</td>
							<td>
								Ph.D student(2017)
							</td>
						</tr>
						<tr>
							<td>
								K.Sandeep Sharma
							</td>
							<td>
								sandeepkong@gmail.com
							</td>
							<td>
								Fabrication and testing of Acoustic wave devices
							</td>
							<td>
								SRF
							</td>
						</tr>
					</tbody>
				</table></div>
        </div>
    </div>

</section>

<section class="mbr-section mbr-section__container" id="header3-98" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="mbr-section-title display-2"></h3>
                <small class="mbr-section-subtitle"><h4>M.Tech Project students</h4></small>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-99" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead">
			<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
				<thead>
					<tr>
						<th>
							Sl.no
						</th>
						<th>
							Student
						</th>
						<th>
							Mail id
						</th>
						<th>
							Working area
						</th>
					</tr>
				</thead>
				<tbody>
					
					<tr>
						<td>
							01
						</td>
						<td>
							 Rena Rakesh
						</td>
						<td>
							rakeshrena@gmail.com
						</td>
						<td>
							C-band Low Noise amplifier design
						</td>
					</tr>
					<tr>
						<td>
							02
						</td>
						<td>
							Harini
						</td>
						<td>
							 harini.shalini2009@gmail.com
						</td>
						<td>
							Tunable phase shifter for MIMO system.
						</td>
					</tr>
					<tr>
						<td>
							03
						</td>
						<td>
							Raghu
						</td>
						<td>
							 raghu.iiitn@gmail.com
						</td>
						<td>
							FBAR resonating sensor
						</td>
					</tr>
				</tbody>
			</table>
			</div>
        </div>
    </div>

</section>
{% endblock %} 