{% extends 'base.html' %}
{% block title %} FMML| Microwave {% endblock %}
{% block content %}
    <!--conent -->

    <section class="mbr-section mbr-section__container mbr-after-navbar" id="header3-41" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    
                    <small class="mbr-section-subtitle"><br>Research &gt;&gt; Microwaves &gt;&gt; Microwaves</small>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section article mbr-section__container" id="content1-42" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

        <div class="container">
            <div class="row">
             <div class="col-xs-12 lead">
                 <p><h2 style="text-align:left;">MICROWAVES</h2></p>
                <p><br></p><p>i) <strong><em>Material Characterization:&nbsp;</em></strong></p>
                </p><p>Cavity Perturbation Tehnique</p><p>Extended Cavity Perturbation Technique</p><p>Waveguide based conventional techniques for bulk materials</p><p>Techniques for characterization of DRs.</p><p>On wafer probing for thin films.</p><br><p>ii) <em><strong>Device Characterization:&nbsp;</strong></em></p><p>For conventional and on-wafer active and passive devices.</p><p><br><br></p></div>
            </div>
        </div>

    </section>
    {% endblock %} 