{% extends 'base.html' %}
{% block title %} FMML| Thinfilm {% endblock %}
{% block content %}

<section class="mbr-section article mbr-section__container" id="content1-18" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 lead"><p><strong><centre><h2 style="text-align:center;">THIN FILMS</h2></centre></strong></p><p><br></p><p><h3>Growth, Characterization and Applications</h3></p><p></p><p><b>Ferroelectrics: Bulk and Thin films</p><p>High temperature Piezoelectric materials and Sensors</p>
                <p>Pyroelectric Thin films</p><p>Dielectric Thin films</p><p>Magnetic Thin films</p>
                <p>Ultrahard nano composites</p><p>Metallic Thin films</p><p></b></p>
                <p style="color:blue;"> Applications of thin films currently being investigated  include MEMS, tunable microwave devices, MTJs, TFT displays, tribological coatings and plasmonics.</p>
                <h3 style="text-align:center;">Films Deposition Methods</h3><br>
                <ol><b>
                    <li>Plused laser depostion</li>
                    <li>Sputtering (DC, RF and ion beam)</li> 
                    <li> Thermal Evaporation</li>
                    <li>Sol-Gel</li>

                </b>
                    
                </ol>
                <br></p></div>
        </div>
    </div>

</section>
    
{% endblock %} 